#title {
    font-family: "Archivo Black", sans-serif;
    //font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30;
    font-weight: 800;
    position: relative;
    top: 30px;
    left: 40%;
}
#youare{
    position: relative;
    top: 30px;
    left: 45%;
}
#number{
    position: absolute;
    top:50%;
    color:white;
    font-size: 40px;
    left: 3%;
}
#imgdiv{
    float:left; 
    width: 50%;
}
#rightBox{
    float: right;
    width:25%;
}
#numberdiv{
    
    width:25%;
    position: absolute;
    top:50%;
}
.img {
    border-radius: 10%;
    border: 1px solid white;
    object-fit: cover;
  
    //centers the image
    height: 450px;
    width: 450px;
    position: relative;
    left: 10%;
  }
#all {
    border: 1px solid white;
    
    position: relative;
    top: 60px;
    margin-bottom: 30px;
}
#insideall {
    margin-bottom: 30px;
}
#email {
    position: absolute;
    top:10%;
    left: 50%;
    color: white;
    font-size: 20px;

}
#result {
    position: absolute;
    top:30%;
    left: 50%;
    color: white;
    font-size: 20px;
}
.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #09f;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #09f 16.666%,
        rgba(129, 205, 255, 0.747) 16.666%,
        #09f 33.333%,
        rgb(157, 167, 255) 33.333%,
        rgb(155, 202, 255) 50%,
        rgb(252, 252, 252) 50%,
        rgb(98, 151, 250) 66.666%,
        #d5e7ff 66.666%,
        #09f 83.333%,
        rgb(115, 199, 255) 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 30%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 150%;
    }
    40% {
        background-size: 150%;
    }
    100% {
        background-size: 30%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 30%;
    }
    80% {
        background-size: 150%;
    }
    100% {
        background-size: 150%;
    }
}
